* {
  margin: 0 auto;
  box-sizing: border-box
}

body {
  user-select: none;
  background-color: white;
}

header {
  background-color: antiquewhite;
}


.bestsales {
  margin-top: 100px;
}

.title {
  margin-left: 50px;
}
.good {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense;
}

.img {
  height: 400px;
}

nav {
  display: flex;
  font-size: 20px;
  text-align: center;
  background-color: lightgray;
  opacity: 0.8;
}

nav a {
  color: black;
  padding: 20px 20px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background-color: #9c917e;
  color: white;
}

.container img {
  width: 1300px;
  height: 700px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  text-align: center;
}

.show {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 600px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s ease-in;
  margin-left: 80px;
  margin-top: 10px;
}

.pre {
  margin: 80px;
}

.next {
  right: 70px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.text {
  color: #290b4d;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: non20;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #5e7bc6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

footer {
  display: flex;
  background-color: #D4C7B1;
  text-align: center;
  color: #313348;
  font-family: 'Noto Sans TC', sans-serif !important;
}

.inf {
  position: absolute;
  top: 15px;
  right: 130px;
}

.account {
  position: absolute;
  top: 15px;
  right: 50px;
}